body {
  font-family: Arial;
  background: #f4f4f4;
  margin: 0;
}

.header, .footer {
  padding: 15px;
  color: white;
  text-align: center;
  background: #333;
}

.menu {
  padding: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  background: #ddd;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}

.vista {
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 6px;
}
